/* /////////////////////////////// Fonts /////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* /////////////////////////////// Universal Selector /////////////////////////////// */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

/* /////////////////////////////// Header /////////////////////////////// */

header {
   left: 0;
   width: 100%;
   padding: 10px 40px;
   background: #252422;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 99;
}


/* /////////////////////////////// Logo /////////////////////////////// */
.logo {
   transition: all 0.50s ease;
}

.logo img {
   margin-top: 10px;
   vertical-align: middle;
   height: 60px;
}

.logo:hover {
   padding-left: 10px;
}


/* /////////////////////////////// Navigation /////////////////////////////// */

.navigation {
   z-index: 1;
}

.navigation a {
   position: relative;
   font-size: 0.9em;
   color: #fffcf2;
   text-decoration: none;
   font-weight: 400;
   margin-left: 30px;
}

.navigation a::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background: #eb5e28;
   border-radius: 2px;
   left: 0;
   bottom: -6px;
   transform: scaleX(0);
   transform-origin: right;
   transition: all 0.5s ease;
}

.navigation a:hover:after {
   transform: scaleX(1);
}

#nav-menu {
   z-index: 9999;
   display: none;
}

/* /////////////////////////////// Footer /////////////////////////////// */

.footer {
   width: 100%;
   background-color: #252422;
   padding: 50px 0;
}

.footer .container {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   margin: auto;
}

.footer ul {
   list-style: none;
}

/* /////////////////////////////// Footer (Page Links) /////////////////////////////// */

.page-links {
   margin-left: 20%;
}

.page-links ul {
   margin-top: 20px;
}

.page-links h4 {
   font-size: 17px;
   color: #fff;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 400;
   position: relative;
   margin-top: 50px;
}

.page-links h4::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: #eb5e28;
   height: 3px;
   box-sizing: border-box;
   width: 50px;
}

.page-links .logo {
   font-size: 17px;
   color: #fff;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 400;
   position: relative;
}

.page-links .logo::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -30px;
   background-color: #eb5e28;
   height: 3px;
   box-sizing: border-box;
   width: 100px;
}

.page-links ul li:not(:last-child) {
   margin-bottom: 10px;
}

.page-links ul li a {
   font-size: 16px;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: 300;
   color: #ffffffbb;
   display: block;
   transition: all 0.5s ease;
}

.page-links ul li a:hover {
   color: #fff;
   padding-left: 8px;
}

/* /////////////////////////////// Footer (Social Links) /////////////////////////////// */

.socialLinks a {
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255, 255, 255, 0.2);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #ffffff;
   transition: all 0.5s ease;
}

.socialLinks a:hover {
   color: #eb5e28;
   background-color: #ffffff;
}

/* /////////////////////////////// Footer (Contact Links) /////////////////////////////// */

.contactLinks i {
   margin-right: 10px;
   padding: 10px;
   display: inline;
   background-color: rgba(255, 255, 255, 0.2);
   text-align: center;
   line-height: 40px;
   color: #ffffff;
   transition: all 0.5s ease;
}


.contactLinks a {
   text-decoration: none;
   color: #ffffff;
   transition: all 0.5s ease;
}

.contactLinks i:hover {
   padding: 8px;
   color: #eb5e28;
}

/* /////////////////////////////// Footer (Copyright) /////////////////////////////// */

.copyright {
   padding: 30px 0 0;
   font-weight: 300;
   font-size: small;
   text-align: center;
   color: #ffffffb1;
}

.copyright:hover {
   cursor: pointer;
   transition: all 0.5s ease;
   color: #eb5e28;
}

/* /////////////////////////////// Tablet Views /////////////////////////////// */

@media only screen and (max-width: 1024px) {

   /* /////// Navigation Menu /////// */
   .navigation {
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.507);
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      backdrop-filter: blur(20px);
      margin-left: -100%;
      transition: all 0.5s ease;
   }

   .navigation.mobile-menu {
      margin-left: 0;
   }

   #nav-menu {
      right: 30px;
      position: absolute;
      display: block;
      font-size: 30px;
      color: #ffffff;
      cursor: pointer;
   }

   .navigation a {
      font-size: 1rem;
      text-transform: uppercase;
      margin: 20px 0;
      align-items: center;
   }

   /* /////// Footer /////// */
   .footer .container {
      grid-template-columns: 50% 50%;
   }

}

/* /////////////////////////////// Mobile Views /////////////////////////////// */

@media only screen and (max-width: 768px) and (min-width: 480px) {

   /* /////// Footer /////// */
   .footer .container {
      grid-template-columns: 100%;
   }

}


/* /////////////////////////// Colosseum /////////////////////////// */
/*main content*/
body {
  background-color: white;
  padding: 0px;
  width: 100%;
  margin: 0;
  background-image: url('../assests/The Colosseum/meiying-ng-OrwkD-iWgqg-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.queen {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 20px;
  color: #dd077d;
}

.col-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

.col-container img {
  height: 1000px;
  object-fit: cover;
  width: 55%;
  display: flex;
  padding-left: 40px;
  padding-bottom: 20px;

}

.hheading {
  font-size: 30px;
  float: left;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #dd077d;
  font-weight: 300;
}

.info {
  text-align: justify;
  font-size: 20px;
  padding: 0 40px;
  float: left;
  width: 45%;
  display: block;
  margin-bottom: 55px;
  color: black;

}

.info h1 {
  padding: 20px 0;
  color: #dd077d;
}

.heading {
  font-size: 40px;
  width: 100%;
  padding-left: 1rem;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #dd077d;
  font-weight: 600;
  background: url('../assests/The Colosseum/back.png');
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  text-transform: uppercase;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.about p {
  font-size: 20px;
  display: block;
  margin-bottom: 0;
  color: black;
  padding: 20px 40px;
  text-align: justify;

}

/* Slideshow container */
.container2 {
  width: 100%;
  position: initial;
}

/* Hide the images by default */
.slider {
  display: none;
}

.sImg {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100vh;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
}

.next {
  right: 1rem;
  border-radius: 10px 0 0 10px;
}

.previous:hover,
.next:hover {
  background-color: #dd077d;
  opacity: 0.5;
}

.nextbtn {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.circlebtn {
  text-align: center;
  padding: 20px;
}

.active,
.nextbtn:hover {
  background-color: #dd077d;
}

/* /////////////////////////////// Tablet Views /////////////////////////////// */

@media only screen and (max-width: 1024px) {
.sImg {
    width: 100%;
    height: 50%;
  }

  .about p {
    margin: 0;
    padding: 40px;
  }

  .hheading {
    width: 100%;
    font-weight: 300;
    font-size: 20px;
  }

  .col-container img {
    width: 100%;
    padding: 40px;
    margin: 0;
    height: 50%;
    margin-bottom: 10px;
  }

  .col-container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .info h1 {
    padding-bottom: 10px;
    padding-top: 0;
    color: #dd077d;
    width: 100%;
    text-align: center;
    font-size: 35px;
    float: left;
  }

  .info {
    text-align: justify;
    font-size: 20px;
    padding: 10px 40px;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    color: black;
  }

  .info p {
    padding-top: 10px;
    margin-top: 30px;
    font-size: 20px;
  }  
}

/* /////////////////////////////// Mobile Views /////////////////////////////// */

@media only screen and (max-width: 768px) and (min-width: 480px) {
.heading {
    font-size: 20px;
    width: 100%;
    padding-right: 1rem;
    text-align: center;
    margin: 1rem 0;

  }

  .sImg {
    width: 100%;
    position: initial;
    height: 100%;
  }

  .hheading {
    font-size: 17px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .about p {
    font-size: 20px;
    padding: 0 40px;
    text-align: justify;
  }

  .col-container img {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    height: 50%;
  }

  .col-container {
    display: flex;
    flex-direction: column;
  }

  .info {
    text-align: justify;
    font-size: 20px;
    padding: 20px 40px;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    color: black;
  }

  .info h1 {
    padding: 20px 0;
    color: #dd077d;
    width: 100%;
    text-align: center;
    font-size: 30px;
    float: left;
  }
}